# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lms?schema=public"

# NextAuth
AUTH_SECRET="your-secret-key-here"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
